body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
}

th {
    background-color: #343a40;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

tr.separator td {
    background-color: #1e79d3;
    padding: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0 1px;
}

tr.separator {
    height: 5px;
}