body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    text-align: center;
}


img {
    max-width: 100%;
}

.form-register {
    margin: 20px;
}

.details {
    font-size: 16px;
    line-height: 1.6;
}

textarea {

    border: none;
}


table {
    width: 98%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

#autoResize {
    height: auto;
    width: 100%;
}