body {
  background-image: url("/R_MEMORIAS/img/fondo2.jpg");
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}


h4 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

.controls {
  width: 100%;
  background: #ecf2f8;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: rgb(21, 12, 12);
}

.form-register {
  width: 100px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: auto;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}


.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group input[type="text"],
.form-group select,
.form-group input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}