table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


.form-group select,
.form-group input[type="date"] {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}